<html lang="en">
	<!-- header section -->
	<%- include('partials/header'); %>

	<body>
		<!-- toolbar section -->
		<%- include('partials/toolbar'); %>

		<!-- header section -->
		<header>
			<div class="smoothie">
				<img src="/smoothie.png" alt="smoothie" />
			</div>

			<div class="headings">
				<h2>Smoothie Recipes</h2>
				<h3>By Mandos for Mandos</h3>
				<a href="/smoothies" class="btn">View Recipes</a>
			</div>
		</header>

		<!-- footer section -->
		<%- include('partials/footer'); %>
	</body>
</html>
