<html lang="en">
	<!-- header section -->
	<%- include('partials/header'); %>

	<body>
		<!-- toolbar section -->
		<%- include('partials/toolbar'); %>

		<ul class="recipes">
			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Banana Boost</h4>
				<p>Banana, Vanilla Ice Cream, Milk</p>
			</li>

			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Tropical Twist</h4>
				<p>Pineapple, Peach, Apple Juice</p>
			</li>

			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Protein Packer</h4>
				<p>Oats, Peanuts, Milk, Banana</p>
			</li>

			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Banana Boost</h4>
				<p>Banana, Vanilla Ice Cream, Milk</p>
			</li>

			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Tropical Twist</h4>
				<p>Pineapple, Peach, Apple Juice</p>
			</li>

			<li class="recipe">
				<img src="/smoothie.png" alt="smoothie recipe" />
				<h4>Protein Packer</h4>
				<p>Oats, Peanuts, Milk, Banana</p>
			</li>
		</ul>

		<!-- footer section -->
		<%- include('partials/footer'); %>
	</body>
</html>
